<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Halo, apa kabar?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</head>
<body>
    <div class="apa">
        <img src="https://i.pinimg.com/originals/ff/cc/c7/ffccc7036a7ac598ba2e3c9268d1c4f2.gif" alt="" class="loader">
    </div>

    <div class="container d-flex flex-column flex-md-row" style="display: none!important">

        <div id="column" class="d-flex flex-column">

            <h1>
                Halo, apa kabarmu hari ini?
            </h1>
            <form method="POST" class="form">
                {% csrf_token %}
                {{ form }}
                <br>
                <button id="submit-btn"type="submit" class="btn btn-light">Submit</button>
                <a href="/profile/" class="btn btn-light" id="profile-btn">Profile</a>
                <a href="/list-laptop/" class="btn btn-light" id="list-btn">List Laptop</a>
                
            </form>

        </div>

    
        <div class="d-flex flex-column" >
            <ul class="list-group list-group-flush">
                {% for each_data in data %}
                <li class="list-group-item d-flex flex-row">
                    "{{ each_data.status_sentence }}" at {{ each_data.posting_time }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <img src="https://img.icons8.com/plasticine/2x/idea.png" 
                    alt="theme" 
                    class="mt-30 ml-30 fixed-top" 
                    id="theme">

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>
    
    {% load static %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    
</body>
</html>