<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <div class="apa">
        <img src="https://i.pinimg.com/originals/ff/cc/c7/ffccc7036a7ac598ba2e3c9268d1c4f2.gif" alt="" class="loader">
    </div>

    <div class="container d-flex flex-column flex-md-row" style="display: none!important">

      <div class="card col-12 col-md-4">
          <img class="card-img-top" 
          src="https://instagram.fcgk18-2.fna.fbcdn.net/vp/5f299085e890f509bdbab6bda45a0ae3/5CF14C4E/t51.2885-15/e35/36136648_258250158271002_552952029765435392_n.jpg?_nc_ht=instagram.fcgk18-2.fna.fbcdn.net&_nc_cat=106" 
          alt="Card image"
          data-toggle="tooltip"
          id="tooltip"
          title="Foto gua waktu Integer">
          <div class="card-body">
            <h1 class="card-title">Jahns Michael</h4>
            <p class="card-text">1806141252.</p>
            <a href="https://jahnsmichael.herokuapp.com/" class="btn btn-primary">See My Website</a>
            <a href="/" class="btn btn-primary">Back to Status</a>
          </div>
        </div>
  
        <div class="col-12 col-md-8" id="accordion">
            <h3 class="accordion-header" data-content="+">Aktivitas</h3>
            <div class="accordion-content">
              <ul class="list-group">
                <li class="list-group-item">
                  [Senin] Deadline PR PSD
                </li>
                <li class="list-group-item">
                  [Selasa] Deadline LTM dan tugas-tugas MPKT-A
                </li>
                <li class="list-group-item">
                  [Rabu] Deadline PR MatDas | Release PR PSD
                </li>
                <li class="list-group-item">
                  [Kamis] Deadline Story PPW | LTM dan tugas-tugas MPKT-A
                </li>
                <li class="list-group-item">
                  [Jumat] Release Story PPW | Visitasi Rohkris SMAN 3 Depok
                </li>
                <li class="list-group-item">
                  [Sabtu] Procrastinating | Pertemuan Kelompok Kecil SMAN 3 Depok
                </li>
                <li class="list-group-item">
                  [Minggu] Marathon tugas-tugas | Ibadah Minggu
                </li>
                <li class="list-group-item">
                  [Repeat]
                </li>
                <li class="list-group-item">
                  -------------------
                </li>
                <li class="list-group-item">
                  [Daily] Daily Devotion - Makan - Mandi - Kuliah - Code - Tidur
                </li>
            </ul>
            </div>
            <h3 class="accordion-header" data-content="+">Organisasi/Kepanitiaan</h3>
            <div class="accordion-content">
              <ul class="list-group">
                <li class="list-group-item">
                  Ketua Rohkris SMAN 3 Depok
                </li>
                <li class="list-group-item">
                  Volunteer @ Perkantas Jakarta Komponen Siswa (Persekutuan Siswa Kristen Jakarta)
                </li>
              </ul>
            </div>
            <h3 class="accordion-header last-header" data-content="+">Prestasi</h3>
            <div class="accordion-content">
              <ul class="list-group">
                <li class="list-group-item">
                  Peringkat III OSN Bidang Komputer Tingkat Kota Depok
                </li>
              </ul>
            </div>
          </div>

      <img src="https://img.icons8.com/plasticine/2x/idea.png" 
          alt="theme" 
          class="mt-30 ml-30 fixed-top pull-right" 
          id="theme"
          style="width:75px; height:auto;">
    </div>


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
              integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
              integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
              crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
              integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
              crossorigin="anonymous"></script>

      {% load static %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>

</body>
</html>