body{
    background-color: #eeeeee;
    /* padding: 50px; */
    transition: 1s;
}

h1{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    transition: 1s;
}

li {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    transition: 1s;
}

#column {
    padding-right: 150px; 
    margin-bottom: 30px;
}

#theme {
    width:75px; 
    height:auto;
}

.loader {
    width: 50%;
    align-self: auto;
    padding: 0px;
}

.apa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #eeeeee;
    border: none;
}

.accordion-header {
    background-color: #eeeeee;
    color: #393e46;
    font-family: 'Patrick Hand', cursive; 
    font-size: 30px;
    padding: 10px;
    margin-bottom: 0px;
    border-style: solid solid none solid;
    border-color: #393e46;
    transition: 1s;
}

.accordion-header::after {
    content: attr(data-content);
    float: right;
}

.accordion-content {
    margin-inline-start: 30px;
    background-color: inherit;
}

.list-group-item {
    background-color: inherit;
    border-style: none none solid none;
}

.last-header {
    border-style: solid solid solid solid;
    transition: 1s;
}


.back_theme{
    background-color: #393e46;
    transition: 1s;
}

.text_theme{
    background-color: inherit;
    color: #eeeeee;
    transition: 1s;
}

.btn_theme{
    background-color: #fdfd96;
    border-color: #fdfd96;
    color: #393e46;
    transition: 1s;
}

.list-theme{
    border: 1px solid #fdfd96;
}

.header-theme {
    background-color: #393e46;
    color: #eeeeee;
    border-color: #eeeeee
}

/* .active::after{
    content: "-";
    float: right;
} */