<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'restyle.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <!-- <div id="confirm">
        <div class="message"></div>
        <button class="yes">Delete</button>
        <button class="Cancel">Cancel</button>
    </div>
    <button onclick='functionConfirm("Do you like Football?", function yes() {
        alert("Yes")
    }, function no() {
        alert("no")
    }
    );'>submit</button> -->

    <div class="container">

        <div class="row">

            <div class="d-flex flex-column col-lg-6">
                <h1 class="test">Register</h1>
                <form method="POST" class="form" id="new-subscriber">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <p id="message"></p>
                    <button id="submit-btn" type="submit" class="btn btn-light">Submit</button>
                </form>
                <a id="show-data" class="btn btn-light">Show data</a>
            </div>

        </div>

        <div class="row d-flex flex-row" id="subs-data-list" style="display: none!important">
            <div class="d-flex flex-column" id="data-desc">
                <ul class="list-group list-group-flush">
                    <!-- {% for each_data in data %}
                    <li class="list-group-item d-flex flex-column">
                        <p class="nama">
                            Nama  : {{ each_data.nama }} 
                        </p> 
                        <p class="nama">
                            Email : {{ each_data.email }}
                        </p> 
                    </li>
                    {% endfor %} -->
                </ul>
            </div>
            <div class="d-flex flex-column" id="delete-button">
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>
    
    {% load static %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'regform.js' %}"></script>
</body>
</html>