h1{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

#submit-btn {
    display: flex;
    flex-direction: row;
    width: 100px;
}

#show-data {
    display: flex;
    flex-direction: row;
    width: 100px;
}

#hide-data {
    display: flex;
    flex-direction: row;
    width: 100px;
}

.btn-danger {
    margin: 5px;
}

#confirm {
    display: none;
    background-color: inherit;
    border: 1px solid #aaa;
    position: fixed;
    width: 250px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
 }
 #confirm button {
    background-color: #dc3545;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
 }
 #confirm .message {
    text-align: left;
 }