<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{% static 'style-list.css' %}">
    <title>Document</title>
</head>
<body>

    {% if user.is_authenticated %}
        <p class="display-4">Hello, {{ user.username }}</p>
        <a class="lead" href="/accounts/logout/">Log out</a>
    {% else %}
        <a class="lead" href="/accounts/login/">Log in</a>
    {% endif %}

    {% csrf_token %}

  <div class="container">
    <div class="row">
      <h1 class="header col-md-7">
        List Laptop
      </h1>

      <nav class="col-md-5" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" id="prev" href="#">Prev</a></li>
          <li class="page-item"><a class="page-link" id="next" href="#">Next</a></li>
        </ul>
      </nav>

    </div>

    <div class="row" style="margin-bottom: 150px">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr id="item1">
              <td scope="row" id="no">1</td>
              <td id="name1"></td>
              <td id="price1"></td>
              <td id="button1">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item2">
              <td scope="row" id="no">2</td>
              <td id="name2"></td>
              <td id="price2"></td>
              <td id="button2">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item3">
              <td scope="row" id="no">3</td>
              <td id="name3"></td>
              <td id="price3"></td>
              <td id="button3">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item4">
              <td scope="row" id="no">4</td>
              <td id="name4"></td>
              <td id="price4"></td>
              <td id="button4">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item5">
              <td scope="row" id="no">5</td>
              <td id="name5"></td>
              <td id="price5"></td>
              <td id="button5">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item6">
              <td scope="row" id="no">6</td>
              <td id="name6"></td>
              <td id="price6"></td>
              <td id="button6">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item7">
              <td scope="row" id="no">7</td>
              <td id="name7"></td>
              <td id="price7"></td>
              <td id="button7">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item8">
              <td scope="row" id="no">8</td>
              <td id="name8"></td>
              <td id="price8"></td>
              <td id="button8">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item9">
              <td scope="row" id="no">9</td>
              <td id="name9"></td>
              <td id="price9"></td>
              <td id="button9">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
            <tr id="item10">
              <td scope="row" id="no">10</td>
              <td id="name10"></td>
              <td id="price10"></td>
              <td id="button10">
                <button class="btn btn-dark">Add</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="footer fixed-bottom" style="display: none!important">
      <h2 id="total-harga"></h2>
      <button class="btn btn-danger">Clear wishlist</button>
    </div>

  </div>

      {% load static %} 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{% static 'script.js' %}"></script>

</body>
</html>